form.aui input.config.text {
    max-width: 525px;
}

.plugin-logo {
    display: inline-block;
    background-image: url(pluginIcon.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 28px;
}

form.aui legend, form.aui .field-group > label {
    width: 200px;
}

form.aui .text {
    margin-left: 35px;
}

form.aui div.description {
    margin-left: 95px;
    max-width: 510px;
}